
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>my Rem events</title>


    <!-- Bootstrap core CSS -->
    {{ encore_entry_link_tags('app')}}


    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">

</head>
<body>
<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="text-muted" ></a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" >INSCRIPTION - EVENEMENT </a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="text-muted" href="{{path('home')}}">RETOUR</a>
            </div>
        </div>
    </header>



    <!-- body-->
    <div>
        {% for message in app.flashes('notice_success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div>
        {% for message in app.flashes('notice_error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <br/>
    <br/>
    <div  >
        <div  class="row mb-2" align="center">
        <div class="col-md-3">
            <strong class="d-inline-block mb-2 text-primary">Nom: {{ inscription.nom }}</strong>
        </div>
        <div class="col-md-3">
            <strong class="d-inline-block mb-2 text-primary">Debut : {{ inscription.datedebut |date('d-m-Y')}}</strong>
        </div>
        <div class="col-md-3">
            <strong class="d-inline-block mb-2 text-primary">Fin: {{ inscription.datefin |date('d-m-Y')}}</strong>
        </div>
        <div class="col-md-3">
            <strong class="d-inline-block mb-2 text-primary">Status:  {{ inscription.status}}</strong>
        </div>
        </div>
        <br/>
        <br/>
        <div class="col-md-12">
            {% if  inscription.capaciteaccueil == (inscription.getInscriptions()|length) %}
                <div align="center">
                    <p>Désolé, les inscriptions pour cet évènement sont terminées</p>
                </div>
            {% else %}
                <div align="center">
                    <p>Merci de remplir les champs ci - dessous pour vous inscrire à l'évènement selectionné</p>
                </div>

                <br/>
                <br/>
                <div class="col-md-12">
                    <div class="col-md-9" style="max-width: 100%;">
                        {{ form_start(InscriptionForm) }}
                        {{ form_row(InscriptionForm.nom) }}
                        {{ form_row(InscriptionForm.prenom) }}
                        {{ form_row(InscriptionForm.email) }}
                        {{ form_row(InscriptionForm.telephone) }}
                        <br/>
                        {{ form_row(InscriptionForm.envoyer) }}
                        <input type="hidden" name="idEvent" value="{{ inscription.id }}">
                        {{ form_end(InscriptionForm) }}
                    </div>
                </div>
            {% endif %}

        </div>
    </div>

</div>

{{ encore_entry_script_tags('app')}}

</body>
</html>



